<?xml version="1.0" encoding="utf-8"?>

<configuration>

    <packageSources>
        <add key="LocalPackages" value="Packages" />
        <add key="WorkflowAutofacPackages" value="../Workflow.Autofac/src/Workflow.Autofac/bin/Release" />
    </packageSources>
    
  <disabledPackageSources>

    <add key="WorkflowAutofacPackages" value="true" />

  </disabledPackageSources>

</configuration>